/* DEFAULT*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    }

    :root{
    
     /* BACKGROUNDS */
    --bgcolor-boxLeft-color:#403C5F;
    --bgcolor-boxRight-color:#f3f4f5;
    --bgcolor-header-color:#222;

    /* COLORS */
    --bgcolor-pinkInstagram-color:#C12B8D;
    --bgcolor-subtitle-color:#F86045;
    --bgcolor-insitute-color:#1B5DA3;
    --bgcolor-dnpText-color:#4866C8;
    --bcolor-grenUnicor-color:#3F8058;
    }

    body{
    background-color:var(--bgcolor-header-color);
    }

    .wrapper-container{
    word-wrap: break-word;
    min-width: fit-content;
    }

/*BOX HEADER*/

    .header-container{
    display: flex;
    background-color: var(--bgcolor-boxRight-color);
    justify-content: space-around;
    align-items: center;
    font-family: 'Dancing Script', sans-serif;
    -webkit-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
    margin-bottom: 20px;
    }

    .about{padding-left: 20px;}

    #header__photo{
    width: 150px;
    height: 150px;
    clip-path: circle(50% at 50% 50%);
    margin: 20px;
    
    }

    #menu__home{
        font-size: 2em;
        color: var(--bgcolor-subtitle-color)
    }

    i{
    font-size: 1em;
    margin-right: 5px;
    }

    .about__name{
    color: var(--bgcolor-header-color);
    font-size: 3em;
    }

    .about__subtitle{
    color: var(--bgcolor-subtitle-color);
    font-size: 2em;
    }

    .about__description{
    color: var(--bgcolor-header-color);
    font-size: 1.3em;
    }

    .menu{
        color:var(--bgcolor-boxRight-color);
        background-color: var(--bgcolor-header-color);
        border-radius: 160px;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    
        .menu:hover{
        background-color:#777;
        transition: 2s;
        opacity:.6;
       }

        .menu  a:active,a:hover{color: var(--bgcolor-header-color);}

    
        .menu ul{list-style: none;}
    
        .menu li{
        font-size: 1.3em;
        color: #333;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        }
    
        .menu a{text-decoration: none;}
    
        .menu a:active{color: #333;}
    
        .menu li:hover, li:focus{
        background-size: 100% 2px;
        cursor: pointer;
        }

        .menu a{
            color:var(--bgcolor-pinkInstagram-color)
        }

        .heroe-container{
            display: grid;
            grid-column-gap: 50px 50px;
            grid-template-columns: auto auto auto;
            justify-content: center;
            
        }
        .heroe-projectImage{
            width:500px;
            border-radius: 10px;
            -webkit-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
            box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
            max-width: 400px;
           
        }

        .heroe-container img{
            margin: 20px 0;
            
        }

        .js-text{
            color: #FED93C;
            text-align: center;
        }
        .java-text{
            color: var(--bgcolor-subtitle-color);
            text-align: center;
        }
        .php-text{
            color: var(--bgcolor-dnpText-color);
            text-align: center;
        }

        .social-container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: #eee;
            font-size: 1.3em;
             height:150px;
             background: var(--bgcolor-boxRight-color);
            }
        
            .social-container i{
            margin: 20px 20px;
            font-size: 2em;
            cursor: pointer;
          
            }
        
            .social-container i:hover{
            opacity: 0.5;
            transition: 3s;
            transition: 1.5s;
            }
        
            #social__facebook{color: #1198F5;}
        
            #social__twitter{color:#1DA1F2;}
        
            #social__instagram{color: var(--bgcolor-pinkInstagram-color)}
        
        /* BOX FOOTER */
        
            .footer-container{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:var(--bgcolor-header-color);
            height: 40px;
            color: var(--bgcolor-boxRight-color);
            }
        
            #footer__heart{color: crimson;}
        
            .footer__text{font-size: 1.3em;}

            /* DESKTOP VERSION */

@media screen and (max-width: 1024px){

    .header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    box-shadow: none;
    }

    .about__name{font-size: 2em;}

    .about__subtitle{font-size: 1.5em;}

    .about__description{font-size: 1em;}

}

/* IPAD VERSION*/

@media screen and (max-width: 768px){
    
  
    .heroe-projectImage{
        width:400px;
        border-radius: 10px;
        -webkit-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
        box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
        max-width: 300px;
       
    }
    

}

/* MEDIUM MOBILE VERSION*/

@media screen and (max-width: 567px){

    .header-container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
        
    }

    .heroe-projectImage{
        width:400px;
        border-radius: 10px;
        -webkit-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
        box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
        max-width: 300px;
       
    }

    .menu{margin-bottom: 20px;}

    .about__name{
    font-size: 1.5em;
    text-align: center;
    }

    .about__subtitle{text-align: center;}

    .about__description{
    font-size: 16px;
    margin-bottom:10px;
    }

    .header__photo{
    display: block;
    margin: 0 auto;  
    }

    #about{
    display: block;
    padding-left: 0;
    }
   
    .footer-container{
    width: auto;
    margin: auto;
    }

    .icon{width: 30px;}

    .text{font-size: 1em};

}

/* SMALL MOBILE VERSION*/

@media screen and (max-width: 320px){
    
    body{margin: 0 5px;}

    .about{padding-left: 0;}

    .about__name{font-size: 30px;}

    .about__description{
    margin: 0 5px;
    font-size: 0.9em;
    margin-bottom:10px;
    }

    .heroe-projectImage{
        width:300px;
        border-radius: 10px;
        -webkit-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
        box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
        max-width: 200px;
       
    }

    

}

/* VERY SMALL MOBILE VERSION*/

@media screen and (max-width: 280px){
    
    .header-container{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    }

    .about__name{font-size: 1em;}

    .about__subtitle{font-size: 1em;}
    

}