/* DEFAULT*/
    *{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    }

    :root{
    
     /* BACKGROUNDS */
    --bgcolor-boxLeft-color:#403C5F;
    --bgcolor-boxRight-color:#f3f4f5;
    --bgcolor-header-color:#222;

    /* COLORS */
    --bgcolor-pinkInstagram-color:#C12B8D;
    --bgcolor-subtitle-color:#F86045;
    --bgcolor-insitute-color:#1B5DA3;
    --bgcolor-dnpText-color:#4866C8;
    --bcolor-grenUnicor-color:#3F8058;
    }

    body{
    background-color:var(--bgcolor-header-color);
    }

    .wrapper-container{
    word-wrap: break-word;
    min-width: fit-content;
    }

/*BOX HEADER*/

    .header-container{
    display: flex;
    background-color: var(--bgcolor-header-color);
    justify-content: space-around;
    align-items: center;
    font-family: 'Dancing Script', sans-serif;
    -webkit-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
    }

    .about{padding-left: 20px;}

    #header__photo{
    width: 150px;
    height: 150px;
    clip-path: circle(50% at 50% 50%);
    margin: 20px;
    
    }
    #menu__project{
        font-size: 1em;
        color: var(--bgcolor-subtitle-color);
    }

    i{
    font-size: 1em;
    margin-right: 5px;
    }

    .about__name{
    color: #f3f4f5;
    font-size: 3em;
    }

    .about__subtitle{
    color: var(--bgcolor-subtitle-color);
    font-size: 2em;
    }

    .about__description{
    color: #fff;
    font-size: 1.3em;
    }
    

/* BOX MENU */

    .menu{
    color:#333;
    background-color: #f4f5f6;
    border-radius: 160px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .menu:hover{
    background-color:#eea;
    transition: 2s;
   }

    .manu  a:active,a:hover{color: var(--bgcolor-header-color);}

    .menu ul{list-style: none;}

    .menu li{
    font-size: 1.3em;
    color: #333;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    }

    .menu a{text-decoration: none;}

    .menu a:active{color: #333;}

    .menu li:hover, li:focus{
    background-size: 100% 2px;
    cursor: pointer;
    }

/* LEFT BOX PERSONAL INFORMATION */

    .body-container{
    display: flex;
    justify-content: center;
    }

    .body__text{
        font-size: 1.3em;
       
    }

    .body__lateralIzqInfo{
    width: 50%;
    border:1px solid #403C5F;
    padding: 20px;
    background-color: var(--bgcolor-boxLeft-color);
    color: #f3f4f5;
    }

    .body___lateralIzqInfo p{margin: 20px;}

    .body__personalInfo{
    color:var(--bgcolor-subtitle-color);
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    margin: 10px 0;
    }
    
    #body__fullname{font-size: 0.9em;}

    #body__fullname:hover{text-shadow:0.01em 0.01em;}

    #body__email{font-size: 0.9em;}

    #body__email:hover{text-shadow:0.01em 0.01em;}

    #body__phone {font-size: 0.9em;}

    #body__phone:hover{text-shadow:0.01em 0.01em;}

    .body__specialization{
    color:var(--bgcolor-subtitle-color);
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    margin: 10px 0;
    
    }

    .skill{
        width:280px;
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
    }

    .skill__legend{
    color:var(--bgcolor-subtitle-color);
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    
    }
    .skill__languages{
        margin-bottom: 10px;
    }

    fieldset{
    border: 1px solid #F86045;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;

    align-items: center;
    width: 200px;
    padding: 10px;
    margin-bottom: 60px;
    }

    .skill__icon{
    width: 40px;
    cursor: pointer;
    }

    .skill__languages{
    color: var(--bgcolor-subtitle-color);
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    margin-top: -40px;
    }

    .skill__spanish{margin-left: 0px;}


/*RIGHT BOX EXPERIENCE*/

    .right__lateralDerInfo{
    width: 50%; 
    padding: 20px;
    background-color: var(--bgcolor-boxRight-color);
    }

    .dnp{width: 200px;}

    .right__unicor{
    
    width: 80px;
    cursor:pointer;
    }

    .right__itsa{width: 150px;}

    .right__lateralDerInfo p{margin: 20px 0;}

    .right__xperience{
    color:var(--bgcolor-subtitle-color);
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px 1px;
    }

    .right__text{
    font-size: 1.3em;
    color: var(--bgcolor-dnpText-color);
    }

    .right__education{
    color: var(--bgcolor-subtitle-color);
    font-family: 'Dancing Script', cursive;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px 1px;
    margin-top: 300px;
    }

    .right__university{
    font-size: 1.3em;
    color: var(--bcolor-grenUnicor-color);
    }

    .right__institute{
    font-size: 1.3em;
    color:var(--bgcolor-insitute-color);
    }

/* BOX SOCIAL*/

.formulario{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    
}
.formulario__ibutton{
    padding: 10px;
    width: 100px;
    background-color: var(--bcolor-grenUnicor-color);
    color: var(--bgcolor-boxRight-color);
    position: relative;
    left: 40px;
    top: 10px;
    margin: 10px 0;
    
}

    .social-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #eee;
    font-size: 1.3em;
     height:150px;
    }

    .social-container i{
    margin: 20px 20px;
    font-size: 2em;
    cursor: pointer;
  
    }

    .social-container i:hover{
    opacity: 0.5;
    transition: 3s;
    transition: 1.5s;
    }

    #social__facebook{color: #1198F5;}

    #social__twitter{color:#1DA1F2;}

    #social__instagram{color: var(--bgcolor-pinkInstagram-color)}

/* BOX FOOTER */

    .footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#eee;
    height: 40px;
    }

    #heart{color: crimson;}

    .footer_text{font-size: 1.3em;}


/* MEDIA QUERIES*/

/* DESKTOP VERSION */

@media screen and (max-width: 1024px){

    .header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    box-shadow: none;
    }

    .about__name{font-size: 2em;}

    .about__subtitle{font-size: 1.5em;}

    .about__description{font-size: 1em;}

}

/* IPAD VERSION*/

@media screen and (max-width: 768px){
    
    .body__lateralIzqInfo{
    width: auto;
    border:1px solid #403C5F;
    padding: 20px;
    background-color: #403C5F;
    color: #f3f4f5;
    font-size: 1.2em;
    }

    .body__lateralIzqInfo{
    font-size: 1em;
    padding-left: 0;
    }

    .right__institute{font-size: 1em;}

    .right__university{font-size: 1em;}

}

/* MEDIUM MOBILE VERSION*/

@media screen and (max-width: 567px){

    .header-container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
        
    }
    .menu{margin-bottom: 20px;}

    .about__name{
    font-size: 1.5em;
    text-align: center;
    }

    .about__subtitle{text-align: center;}

    .about__description{
    font-size: 16px;
    margin-bottom:10px;
    }

    .photo{
    display: block;
    margin: 0 auto;  
    }

    #about{
    display: block;
    padding-left: 0;
    }

    .body-container{display: block;}
    
    .body__lateralIzqInfo{
    margin: auto;
    width: auto;
    }

    .body__personalInfo{
        margin-left: 20px;
    }

    #body__fullname{
    font-size: 0.9em;
    margin-left: 20px;
    }
    
    #body__email{
    font-size: 0.9em;
    margin-left: 20px;
    }

    #body__phone{
    font-size: 0.9em;
    margin-left: 20px;
    }
    
    .right__lateralDerInfo{width: auto;}
   
    .footer-container{
    width: auto;
    margin: auto;
    }

    .skill{
        display: flex;
        flex-direction: column;
        width: 50px;
        margin-left: 20px;
    }

    .skill__languages{
        margin-left: 20px;
        
    }

    .skill__spanish{
        margin-left: 20px;
    }

    .skill__legend{
        margin: 0;
        padding: 0;
    }
    .body__text{
        margin-left: 20px;
        
    }

    .body__specialization{
        margin-left: 20px;
    }

    

    .skill__icon{width: 30px;}

    .right__text{font-size: 1em};

}

/* SMALL MOBILE VERSION*/

@media screen and (max-width: 320px){
    
    body{margin: 0 5px;}

    .about{padding-left: 0;}

    .about__name{font-size: 30px;}

    .about__description{
    margin: 0 5px;
    font-size: 0.9em;
    margin-bottom:10px;
    }

    .body__fullname{font-size: 0.8em;}

    .body__email{font-size: 0.7em;}

    .body__phone{font-size: 0.9em;}
    
    .footer_text{font-size: 16px;}

    

}

/* VERY SMALL MOBILE VERSION*/

@media screen and (max-width: 280px){
    
    .header-container{
    text-align: center;
    margin: 0 auto;
    }

    .about__name{font-size: 1em;}

    .about__subtitle{font-size: 1em;}
    
    .skill__spanish{
    position: relative;
    left: 20px;
    }

    #body__fullname{font-size: 0.9em;}
    
    #body__email{font-size: 0.9em;}

    #body__phone{font-size: 0.9em;}

}





