*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body{
    background-color: #222;
}
.wrapper-container{
    word-wrap: break-word;
    min-width: fit-content;
}

.header-container{
    display: flex;
    background-color: #222;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Dancing Script', sans-serif;
    -webkit-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
    box-shadow: 10px 24px 0px -21px rgba(0,0,0,0.75);
    
}
.about{
    padding-left: 20px;
}
#photo{
    width: 150px;
    height: 150px;
    clip-path: circle(50% at 50% 50%);
    margin: 20px;
  
   
}
i{
    font-size: 1em;
    margin-right: 5px;
}
.name{
  
    color: #f3f4f5;
    font-size: 3em;
}
.subtitle{
    color: #F86045;
    font-size: 2em;
}
.description{
    color: #fff;
    font-size: 1.3em;
}

/* //PESONAL INFO IZQ*/

.body-container{
    display: flex;
    justify-content: center;
    
}
.lateralIzqInfo{
    width: 50%;
    border:1px solid #403C5F;
    padding: 20px;
    background-color: #403C5F;
    color: #f3f4f5;
    font-size: 1.2em;
   
    
}
#email{
    font-size: 1em;
   
}
.lateralIzqInfo p{
margin: 20px;
}
.personalInfo{
    color: #F86045;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}
.html{
    color: #DD4B25;
}

.specialization{
    color: #F86045;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}
.skills{
    color: #F86045;
    
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}
fieldset{
    border: 1px solid #F86045;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    
}
.icon{
    width: 40px;
    cursor: pointer;
}

.languagues{
    color: #F86045;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}
.spanish{
    margin-left: 15px;
}


/* EXPERIENCE DER */

.lateralDerInfo{
    width: 50%;
 
  
    padding: 20px;
    background-color: #f3f4f5;
   
    
}
.dnp{
    width: 200px;  
}
.unicor{
    width: 80px;
   }
.itsa{
    width: 150px;
   }

.lateralDerInfo p{
    margin: 20px 0;
}
.experience{
    color: #F86045;
    font-family: 'Dancing Script', cursive;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px 1px;
}
.text{
    font-size: 1.3em;
    color: #4866C8;
}
.education{
    color: #F86045;
    font-family: 'Dancing Script', cursive;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px 1px;
    margin-top: 300px;
}
.university{
    font-size: 1.3em;
    color: #3F8058;
}
.institute{
    font-size: 1.3em;
    color:#1B5DA3
}

/* SOCIAL BOX */

.social-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #eee;
    font-size: 1.3em;
    height: auto;
  
}

.social-container i{
    margin: 20px 20px;
    font-size: 2em;
    cursor: pointer;
    
}
.social-container i:hover{
    opacity: 0.5;
    transition: 3s;
    transition: 1.5s;
}
#facebook{
    color: #1198F5;
}

#twitter{
    color:#1DA1F2;
}
#instagram{
    color: #C12B8D;
}


/* FOOTER */

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#eee;
    
}
#heart{
    color: crimson;
    font-size: 1.5em;
}
#heart:hover{
    color: #4866C8;
    transition: 3s;
    transform: scale(.5);

}
.footer_text{
    font-size: 1.3em;
    
}


/* MEDIA */

@media screen and (max-width: 1024px){

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    box-shadow: none;
}
.name{
    font-size: 2em;
}
.subtitle{
    font-size: 1.5em;
}

.description{
    font-size: 1em;
}

}

@media screen and (max-width: 768px){
    .lateralIzqInfo{
    width: auto;
    border:1px solid #403C5F;
    padding: 20px;
    background-color: #403C5F;
    color: #f3f4f5;
    font-size: 1.2em;
    }
    .lateralIzqInfo{
        font-size: 1em;
        padding-left: 0;
    }
    .institute{
        font-size: 1em;
    }
    .university{
        font-size: 1em;
    }
    
}

@media screen and (max-width: 567px){
    .header-container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
        
     
    }
    .name{
        font-size: 1.5em;
        text-align: center;
    }
    .subtitle{
        text-align: center;
    }
    .description{
        font-size: 16px;
        
    }
    .photo{
        display: block;
        margin: 0 auto;
        
    }
    #about{
        display: block;
        padding-left: 0;
    }
    .body-container{
        display: block;

        
    }
    
    .lateralIzqInfo{
        margin: auto;
        width: auto;
        
        
    }
    
    
    .lateralDerInfo{
       
        width: auto;
        
    }
   
    .footer-container{
        width: auto;
        margin: auto;
    }
    fieldset{
       margin-left:15px;
        width: 100px;
    }
    .icon{
        width: 30px;
    }
    span{
        position: relative;
        left: 20px;
    }


}

@media screen and (max-width: 320px){
    body{
        
        margin: 0 5px;
    }

    .about{
        padding-left: 0;
    }
    .name{
        font-size: 30px;
    }
    .description{
        margin: 0 5px;
        font-size: 0.9em;
    }
    .fullname{
        font-size: 0.8em; 
    }
    .email{
        font-size: 0.7em;
    }
    .phone{
        font-size: 0.9em;
    }
    
    
       .footer_text{
           font-size: 16px;
       }
}
@media screen and (max-width: 280px){
    
    .header-container{
        text-align: center;
        margin: 0 auto;
    }
    .name{
        font-size: 1em;
        
    }
    .subtitle{
        font-size: 1em;
    }
    
    span{
       position: relative;
       left: 20px;
    }
}





